<a href="https://colab.research.google.com/github/edtorrente/Deep-Learning-Charity-Funding-Predictor/blob/main/Starter_Code2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
#https://drive.google.com/file/d/11zI0VBjhp2ZYkSc42SIGe1gsrHpXa8WC/view?usp=sharing

fileDownload = drive.CreateFile({'id':'11zI0VBjhp2ZYkSc42SIGe1gsrHpXa8WC'})

In [4]:
fileDownload.GetContentFile("charity_data.csv")

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

application_df= pd.read_csv('charity_data.csv', delimiter=',')
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [6]:
# Drop the non-beneficial ID columns, 'EIN', and 'NAME'
application_df=application_df.drop(columns =['EIN','NAME'])
application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [7]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

application_column = application_df['APPLICATION_TYPE'].value_counts()
application_column.head()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace =application_column[application_column < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_column = application_df['CLASSIFICATION'].value_counts()
classification_column

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts() > 1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C4120    False
C8210    False
C2561    False
C4500    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace =classification_column[classification_column <800].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 44 columns]

In [14]:
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [16]:

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# **Compile, Train and Evaluate the Model**

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X_train_scaled[0])
hidden_node_layer1 = 80
hidden_node_layer2 = 30
hidden_node_layer3 = 1
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_node_layer1, input_dim= input_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_node_layer2,  activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,  activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [19]:
# import dependencies for callbacks

import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs('checkpoints/', exist_ok=True)
checkpoint_path = 'checkpoints/weights.{epoch:02d}.hdf5'

In [20]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
from re import VERBOSE
# Create a callback that saves the model's weights every 5 epochs.

cpp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000
)

In [22]:
# Train the model
#  YOUR CODE GOES HERE
neural_train = nn.fit(X_train, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 6s 5ms/step - loss: 101796.4531 - accuracy: 0.4946
Epoch 2/30
804/804 [==============================] - 4s 5ms/step - loss: 61135.4453 - accuracy: 0.4913
Epoch 3/30
804/804 [==============================] - 4s 5ms/step - loss: 49341.4258 - accuracy: 0.4866
Epoch 4/30
804/804 [==============================] - 4s 5ms/step - loss: 23251.7793 - accuracy: 0.4973
Epoch 5/30
804/804 [==============================] - 4s 5ms/step - loss: 24111.8750 - accuracy: 0.5033
Epoch 6/30
804/804 [==============================] - 4s 5ms/step - loss: 29871.8652 - accuracy: 0.5242
Epoch 7/30
804/804 [==============================] - 3s 4ms/step - loss: 10314.1982 - accuracy: 0.5284
Epoch 8/30
804/804 [==============================] - 2s 3ms/step - loss: 9061.4229 - accuracy: 0.5150
Epoch 9/30
804/804 [==============================] - 2s 2ms/step - loss: 11034.3174 - accuracy: 0.5333
Epoch 10/30
804/804 [==============================] - 2s 2ms/step - loss: 3196.5454 - accuracy: 0.5100
Epoch 11/30
804/804 [==============================] - 2s 2ms/step - loss: 6407.9023 - accuracy: 0.4940
Epoch 12/30
804/804 [==============================] - 2s 2ms/step - loss: 12823.9639 - accuracy: 0.4921
Epoch 13/30
804/804 [==============================] - 2s 2ms/step - loss: 5494.9077 - accuracy: 0.4944
Epoch 14/30
804/804 [==============================] - 2s 2ms/step - loss: 2661.2542 - accuracy: 0.5055
Epoch 15/30
804/804 [==============================] - 2s 2ms/step - loss: 929.8298 - accuracy: 0.5084
Epoch 16/30
804/804 [==============================] - 2s 2ms/step - loss: 2940.6243 - accuracy: 0.5189
Epoch 17/30
804/804 [==============================] - 2s 2ms/step - loss: 2695.6057 - accuracy: 0.5110
Epoch 18/30
804/804 [==============================] - 2s 2ms/step - loss: 443.2844 - accuracy: 0.5095
Epoch 19/30
804/804 [==============================] - 2s 2ms/step - loss: 1255.5795 - accuracy: 0.5276
Epoch 20/30
804/804 [==============================] - 2s 2ms/step - loss: 786.7968 - accuracy: 0.5125
Epoch 21/30
804/804 [==============================] - 2s 2ms/step - loss: 0.7017 - accuracy: 0.5318
Epoch 22/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 23/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 24/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 25/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 26/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 27/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 28/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 29/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6911 - accuracy: 0.5318
Epoch 30/30
804/804 [==============================] - 2s 2ms/step - loss: 0.6912 - accuracy: 0.5318

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6469 - accuracy: 0.6983 - 509ms/epoch - 2ms/step
Loss: 0.6468533873558044, Accuracy: 0.698309063911438

In [24]:
#export model in HDF5 file

from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')