<a href="https://colab.research.google.com/github/edtorrente/Deep-Learning-Charity-Funding-Predictor/blob/main/Starter_Code2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
#https://drive.google.com/file/d/11zI0VBjhp2ZYkSc42SIGe1gsrHpXa8WC/view?usp=sharing

fileDownload = drive.CreateFile({'id':'11zI0VBjhp2ZYkSc42SIGe1gsrHpXa8WC'})

In [ ]:
fileDownload.GetContentFile("charity_data.csv")

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

application_df= pd.read_csv('charity_data.csv', delimiter=',')
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Drop the non-beneficial ID columns, 'EIN', and 'NAME'
application_df=application_df.drop(columns =['EIN','NAME'])
application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [ ]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE

application_column = application_df['APPLICATION_TYPE'].value_counts()
application_column.head()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace =application_column[application_column < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")


# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_column = application_df['CLASSIFICATION'].value_counts()
classification_column

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts() > 1

C1000     True
C2000     True
C1200     True
C3000     True
C2100     True
         ...
C4120    False
C8210    False
C2561    False
C4500    False
C2150    False
Name: CLASSIFICATION, Length: 71, dtype: bool

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace =classification_column[classification_column <800].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                       1.0                       0.0
1       1   108590  ...                       1.0                       0.0
2       1     5000  ...                       1.0                       0.0
3       1     6692  ...                       1.0                       0.0
4       1   142590  ...                       1.0                       0.0

[5 rows x 44 columns]

In [ ]:
y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [ ]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [ ]:

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# **Compile, Train and Evaluate the Model**

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X_train_scaled[0])
hidden_node_layer1 = 80
hidden_node_layer2 = 30
hidden_node_layer3 = 1
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_node_layer1, input_dim= input_features, activation='relu'))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_node_layer2,  activation='relu'))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1,  activation='relu'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
#  YOUR CODE GOES HERE
neural_train = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 3s 3ms/step - loss: 1.2213 - accuracy: 0.6786 - val_loss: 0.8635 - val_accuracy: 0.7116
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.8095 - accuracy: 0.7124 - val_loss: 0.7251 - val_accuracy: 0.7287
Epoch 3/100
684/684 [==============================] - 2s 3ms/step - loss: 0.7688 - accuracy: 0.7187 - val_loss: 0.8769 - val_accuracy: 0.7222
Epoch 4/100
684/684 [==============================] - 2s 3ms/step - loss: 0.7953 - accuracy: 0.7231 - val_loss: 0.7759 - val_accuracy: 0.7282
Epoch 5/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7905 - accuracy: 0.7242 - val_loss: 0.7603 - val_accuracy: 0.7209
Epoch 6/100
684/684 [==============================] - 2s 2ms/step - loss: 0.8258 - accuracy: 0.7188 - val_loss: 0.8051 - val_accuracy: 0.7297
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.8409 - accuracy: 0.7189 - val_loss: 0.7751 - val_accuracy: 0.7313
Epoch 8/100
684/684 [==============================] - 2s 3ms/step - loss: 0.7643 - accuracy: 0.7228 - val_loss: 0.7438 - val_accuracy: 0.7297
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7415 - accuracy: 0.7263 - val_loss: 0.7166 - val_accuracy: 0.7308
Epoch 10/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7061 - accuracy: 0.7246 - val_loss: 0.6786 - val_accuracy: 0.7276
Epoch 11/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7384 - accuracy: 0.7226 - val_loss: 0.7304 - val_accuracy: 0.7300
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.7405 - accuracy: 0.7244 - val_loss: 0.7180 - val_accuracy: 0.7357
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7273 - accuracy: 0.7216 - val_loss: 0.8121 - val_accuracy: 0.7017
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7045 - accuracy: 0.7186 - val_loss: 0.6258 - val_accuracy: 0.7346
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6434 - accuracy: 0.7225 - val_loss: 0.6161 - val_accuracy: 0.7323
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6295 - accuracy: 0.7223 - val_loss: 0.6618 - val_accuracy: 0.7349
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7099 - accuracy: 0.7239 - val_loss: 0.6705 - val_accuracy: 0.7323
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6937 - accuracy: 0.7279 - val_loss: 0.7025 - val_accuracy: 0.7261
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.7032 - accuracy: 0.7126 - val_loss: 0.6792 - val_accuracy: 0.7219
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6921 - accuracy: 0.7265 - val_loss: 0.6835 - val_accuracy: 0.7313
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6903 - accuracy: 0.7260 - val_loss: 0.6877 - val_accuracy: 0.7326
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6728 - accuracy: 0.7255 - val_loss: 0.6152 - val_accuracy: 0.7315
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6154 - accuracy: 0.7269 - val_loss: 0.6042 - val_accuracy: 0.7326
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6101 - accuracy: 0.7303 - val_loss: 0.6016 - val_accuracy: 0.7292
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6124 - accuracy: 0.7157 - val_loss: 0.5891 - val_accuracy: 0.7274
Epoch 26/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5879 - accuracy: 0.7273 - val_loss: 0.5982 - val_accuracy: 0.7323
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5807 - accuracy: 0.7303 - val_loss: 0.5901 - val_accuracy: 0.7344
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5784 - accuracy: 0.7322 - val_loss: 0.5746 - val_accuracy: 0.7302
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5841 - accuracy: 0.7295 - val_loss: 0.5921 - val_accuracy: 0.7339
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5858 - accuracy: 0.7304 - val_loss: 0.5858 - val_accuracy: 0.7349
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5965 - accuracy: 0.7297 - val_loss: 0.5899 - val_accuracy: 0.7318
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5879 - accuracy: 0.7310 - val_loss: 0.5809 - val_accuracy: 0.7305
Epoch 33/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5942 - accuracy: 0.7305 - val_loss: 0.5970 - val_accuracy: 0.7326
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5930 - accuracy: 0.7295 - val_loss: 0.6034 - val_accuracy: 0.7287
Epoch 35/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5884 - accuracy: 0.7302 - val_loss: 0.5984 - val_accuracy: 0.7328
Epoch 36/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5800 - accuracy: 0.7292 - val_loss: 0.5833 - val_accuracy: 0.7240
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5899 - accuracy: 0.7309 - val_loss: 0.5922 - val_accuracy: 0.7282
Epoch 38/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5765 - accuracy: 0.7318 - val_loss: 0.5870 - val_accuracy: 0.7344
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5892 - accuracy: 0.7299 - val_loss: 0.6052 - val_accuracy: 0.7305
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5793 - accuracy: 0.7228 - val_loss: 0.6029 - val_accuracy: 0.7305
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5814 - accuracy: 0.7300 - val_loss: 0.5838 - val_accuracy: 0.7323
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5759 - accuracy: 0.7272 - val_loss: 0.5958 - val_accuracy: 0.7336
Epoch 43/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5706 - accuracy: 0.7328 - val_loss: 0.5882 - val_accuracy: 0.7336
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5822 - accuracy: 0.7328 - val_loss: 0.6152 - val_accuracy: 0.7334
Epoch 45/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5860 - accuracy: 0.7334 - val_loss: 0.5924 - val_accuracy: 0.7328
Epoch 46/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.7333 - val_loss: 0.5831 - val_accuracy: 0.7313
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5665 - accuracy: 0.7335 - val_loss: 0.5812 - val_accuracy: 0.7334
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5647 - accuracy: 0.7353 - val_loss: 0.5875 - val_accuracy: 0.7328
Epoch 49/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5598 - accuracy: 0.7346 - val_loss: 0.5839 - val_accuracy: 0.7292
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7346 - val_loss: 0.5622 - val_accuracy: 0.7344
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7346 - val_loss: 0.5638 - val_accuracy: 0.7346
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5713 - accuracy: 0.7341 - val_loss: 0.5630 - val_accuracy: 0.7323
Epoch 53/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5654 - accuracy: 0.7347 - val_loss: 0.6064 - val_accuracy: 0.7321
Epoch 54/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5804 - accuracy: 0.7334 - val_loss: 0.5831 - val_accuracy: 0.7276
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5732 - accuracy: 0.7321 - val_loss: 0.5820 - val_accuracy: 0.7302
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5686 - accuracy: 0.7343 - val_loss: 0.5852 - val_accuracy: 0.7344
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7305 - val_loss: 0.5901 - val_accuracy: 0.7113
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5670 - accuracy: 0.7321 - val_loss: 0.5792 - val_accuracy: 0.7334
Epoch 59/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7337 - val_loss: 0.5623 - val_accuracy: 0.7305
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5698 - accuracy: 0.7337 - val_loss: 0.6177 - val_accuracy: 0.7266
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5814 - accuracy: 0.7290 - val_loss: 0.5962 - val_accuracy: 0.7318
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5936 - accuracy: 0.7308 - val_loss: 0.6338 - val_accuracy: 0.7284
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5928 - accuracy: 0.7319 - val_loss: 0.5942 - val_accuracy: 0.7323
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5839 - accuracy: 0.7322 - val_loss: 0.5990 - val_accuracy: 0.7279
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5768 - accuracy: 0.7330 - val_loss: 0.5676 - val_accuracy: 0.7331
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7335 - val_loss: 0.5655 - val_accuracy: 0.7349
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7341 - val_loss: 0.5680 - val_accuracy: 0.7349
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5673 - accuracy: 0.7342 - val_loss: 0.5779 - val_accuracy: 0.7318
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7332 - val_loss: 0.5671 - val_accuracy: 0.7354
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5703 - accuracy: 0.7330 - val_loss: 0.5646 - val_accuracy: 0.7313
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5622 - accuracy: 0.7334 - val_loss: 0.5698 - val_accuracy: 0.7336
Epoch 72/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5647 - accuracy: 0.7337 - val_loss: 0.5705 - val_accuracy: 0.7341
Epoch 73/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5618 - accuracy: 0.7326 - val_loss: 0.5919 - val_accuracy: 0.7194
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7347 - val_loss: 0.5737 - val_accuracy: 0.7349
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5651 - accuracy: 0.7312 - val_loss: 0.5757 - val_accuracy: 0.7274
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5626 - accuracy: 0.7320 - val_loss: 0.5943 - val_accuracy: 0.7328
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5599 - accuracy: 0.7349 - val_loss: 0.5744 - val_accuracy: 0.7328
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5653 - accuracy: 0.7298 - val_loss: 0.5714 - val_accuracy: 0.7354
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5572 - accuracy: 0.7340 - val_loss: 0.5747 - val_accuracy: 0.7344
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5556 - accuracy: 0.7350 - val_loss: 0.5697 - val_accuracy: 0.7352
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5663 - accuracy: 0.7274 - val_loss: 0.5753 - val_accuracy: 0.7344
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.6008 - accuracy: 0.7131 - val_loss: 0.5971 - val_accuracy: 0.7310
Epoch 83/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5689 - accuracy: 0.7334 - val_loss: 0.5778 - val_accuracy: 0.7339
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7336 - val_loss: 0.5852 - val_accuracy: 0.7289
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5561 - accuracy: 0.7343 - val_loss: 0.5849 - val_accuracy: 0.7334
Epoch 86/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5578 - accuracy: 0.7346 - val_loss: 0.5848 - val_accuracy: 0.7297
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5573 - accuracy: 0.7346 - val_loss: 0.5740 - val_accuracy: 0.7326
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7350 - val_loss: 0.6001 - val_accuracy: 0.7292
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7360 - val_loss: 0.5781 - val_accuracy: 0.7339
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7344 - val_loss: 0.5819 - val_accuracy: 0.7331
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7368 - val_loss: 0.5976 - val_accuracy: 0.7331
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7356 - val_loss: 0.5801 - val_accuracy: 0.7334
Epoch 93/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5683 - accuracy: 0.7286 - val_loss: 0.5861 - val_accuracy: 0.7359
Epoch 94/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5625 - accuracy: 0.7329 - val_loss: 0.5833 - val_accuracy: 0.7331
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7348 - val_loss: 0.5890 - val_accuracy: 0.7334
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5814 - accuracy: 0.7216 - val_loss: 0.5846 - val_accuracy: 0.7240
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5786 - accuracy: 0.7135 - val_loss: 0.5832 - val_accuracy: 0.7313
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5832 - accuracy: 0.7220 - val_loss: 0.5829 - val_accuracy: 0.7315
Epoch 99/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5645 - accuracy: 0.7336 - val_loss: 0.5776 - val_accuracy: 0.7346
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5604 - accuracy: 0.7356 - val_loss: 0.6081 - val_accuracy: 0.7318

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5998 - accuracy: 0.7256 - 310ms/epoch - 1ms/step
Loss: 0.5997536778450012, Accuracy: 0.7255976796150208

In [ ]:
#export model in HDF5 file

from google.colab import files

nn.save('/content/neural1.h5')
files.download('/content/neural1.h5')